<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-xl-4 col-xxl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
              <span class="h3">{{ name_default }}</span>
            </div>
            <div class="col-12 col-xl-8 col-xxl-8 col-lg-8 col-md-8 col-sm-12 text-center">
              <button class="btn btn-primary btn-sm me-2" type="button" (click)="onCreate()">
                <i class="fas fa-plus"></i>
              </button>
              <button class="btn btn-primary btn-sm me-2" type="button" (click)="onUpdate()"
                [disabled]="formItem.invalid || (formItem.pristine && !item)">
                <i class="fas fa-save"></i>
              </button>
              <button class="btn btn-primary btn-sm me-2" type="button" (click)="onCopy()"
                [disabled]="formItem.invalid || (formItem.pristine && !item)">
                <i class="fas fa-copy"></i>
              </button>
              <button class="btn btn-primary btn-sm me-2" type="button" (click)="onDelete()"
                [disabled]="formItem.invalid || (formItem.pristine && !item)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
          <hr>
          <form [formGroup]="formItem" class="row g-3">
            <div class="col-md-2">
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control form-control-sm" id="id" formControlName="id" readonly>
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control form-control-sm" id="email" formControlName="email">
            </div>
            <div class="col-md-4">
              <label for="name" class="form-label">Nom</label>
              <input type="text" class="form-control form-control-sm" id="name" formControlName="name">
            </div>
            <div class="col-md-4">
              <label for="password" class="form-label">Password</label>
              <input type="text" class="form-control form-control-sm" id="password" formControlName="password">
            </div>
            <div class="col-md-4">
              <label for="keydownload" class="form-label">Keydownload</label>
              <input type="text" class="form-control form-control-sm" id="keydownload" formControlName="keydownload">
            </div>
            <div class="col-md-4">
              <label for="passwordConnection" class="form-label">passwordConnection</label>
              <input type="text" class="form-control form-control-sm" id="passwordConnection"
                formControlName="passwordConnection">
            </div>
            <div class="col-md-3">
              <label for="creationDate" class="form-label">creationDate</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="creationDate"
                  formControlName="creationDate">
                <input type="text" class="form-control form-control-sm" id="creationDateLanguage"
                  formControlName="creationDateLanguage" style="flex: 0 0 20%;">
              </div>
            </div>
            <div class="col-md-1">
              <label for="creationTutorialCode" class="form-label">Code</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="creationTutorialCode"
                  formControlName="creationTutorialCode">
              </div>
            </div>
            <div class="col-md-2">
              <label for="newsletter" class="form-label">newsletter</label>
              <input type="checkbox" class="form-check-input" id="newsletter" formControlName="newsletter"
                (click)="onCheckboxClick(1,$event)">
            </div>
            <div class="col-md-2">
              <label for="wrong" class="form-label">wrong</label>
              <input type="checkbox" class="form-check-input" id="wrong" formControlName="wrong">
            </div>
            <div class="col-md-3">
              <label for="confirmedDate" class="form-label">confirmedDate</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="confirmedDate"
                  formControlName="confirmedDate">
                <input type="text" class="form-control form-control-sm" id="confirmedDateLanguage"
                  formControlName="confirmedDateLanguage" style="flex: 0 0 20%;">
              </div>
            </div>
            <div class="col-md-1">
              <label for="confirmedTutorialCode" class="form-label">Code</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="confirmedTutorialCode"
                  formControlName="confirmedTutorialCode">
              </div>
            </div>
            <div class="col-md-3">
              <label for="signupDate" class="form-label">signupDate</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="signupDate"
                  formControlName="signupDate">
                <input type="text" class="form-control form-control-sm" id="signupDateLanguage"
                  formControlName="signupDateLanguage" style="flex: 0 0 20%;">
              </div>
            </div>
            <div class="col-md-3">
              <label for="signupConfirmedDate" class="form-label">signupConfirmedDate</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="signupConfirmedDate"
                  formControlName="signupConfirmedDate">
                <input type="text" class="form-control form-control-sm" id="signupConfirmedDateLanguage"
                  formControlName="signupConfirmedDateLanguage" style="flex: 0 0 20%;">
              </div>
            </div>
            <div class="col-md-3">
              <label for="unsubscribedDate" class="form-label">unsubscribedDate</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm me-2" id="unsubscribedDate"
                  formControlName="unsubscribedDate">
                <input type="text" class="form-control form-control-sm" id="unsubscribedDateLanguage"
                  formControlName="unsubscribedDateLanguage" style="flex: 0 0 20%;">
              </div>
            </div>
            <div class="col-md-3">
              <label for="confirmed" class="form-label">Confirmed</label>
              <input type="checkbox" class="form-check-input" id="confirmed" formControlName="confirmed"
                (click)="onCheckboxClick(2,$event)">
            </div>
            <div class="col-md-3">
              <label for="signup" class="form-label">signup</label>
              <input type="checkbox" class="form-check-input" id="signup" formControlName="signup"
                (click)="onCheckboxClick(3,$event)">
            </div>
            <div class="col-md-3">
              <label for="signupConfirmed" class="form-label">signupConfirmed</label>
              <input type="checkbox" class="form-check-input" id="signupConfirmed" formControlName="signupConfirmed"
                (click)="onCheckboxClick(4,$event)">
            </div>
            <div class="col-md-3">
              <label for="unsubscribed" class="form-label">unsubscribed</label>
              <input type="checkbox" class="form-check-input" id="unsubscribed" formControlName="unsubscribed"
                (click)="onCheckboxClick(5,$event)">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>